{% extends 'base.html.twig' %}
{% block content %}
<script>
    function confirmGnosisProjectDeletion(event) {
        if (!confirm("Are you sure you want to delete this project? This action cannot be undone.")) {
            // Prevent navigation if the user clicks "NO"
            event.preventDefault();
        }
    }
</script>
<style>
    .gnosis-project-1 {
        background-color: #dbdbdb;
    }
</style>
<div class="main-content">
    <div class="row list-title-row">
        <h1 class="list-title-name">All Gnosis-Projects</h1>
        {% if is_granted('ROLE_ADMINISTRATOR') %}
            <button class="list-title-button primarybtn btn-lg btn-primary btn" style="background-color: #497a16;">
                <a href="/new/gnosis/project" style="color: white; font-size: 1.1em;">
                <b>+</b> Gnosis-Project
                </a>
            </button>
        {% endif %}
    </div>
    <div class="row">
        <div class="card card-content">
            <table class="gnosis-projects-table">
                <th>Title</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th><!-- Empty table header for    a e s t h e t i c    reasons --></th>
                <th><!-- Empty table header for    a e s t h e t i c    reasons --></th>
                <th><!-- Empty table header for    a e s t h e t i c    reasons --></th>
                {% for gnosis_project in gnosis_projects %}
                <tr class="gnosis-project-{{ gnosis_project.isClosed }}">
                    <td>{{ gnosis_project.title }}</td>
                    <td>{{ gnosis_project.description }}</td>
                    <td>{{ gnosis_project.createdAt|date("m/d/Y") }}</td>
                    <td>{{ gnosis_project.finishedAt|date("m/d/Y") }}</td>
                    {% if is_granted('ROLE_ADMINISTRATOR') %}
                        <td><a href="/update/gnosis/project/{{ gnosis_project.id }}">{{ include("assets/pencil.html.twig") }}</a></td>
                        <td><a href="/delete/gnosis/project/{{ gnosis_project.id }}" onClick="return confirmGnosisProjectDeletion(event)">{{ include("assets/trashcan.html.twig") }}</a></td>                
                    {% endif %}
                    {% if gnosis_project.isClosed %}                
                        <td><a href="/results/gnosis/project/{{ gnosis_project.id }}">{{ include("assets/results.html.twig") }}</a></td>
                    {% else %}
                        <td><a href="/create/gnosis/project/entry/{{ gnosis_project.id }}">{{ include("assets/notepad.html.twig") }}</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}