{% extends 'base.html.twig' %}

{% block content %}
<style>
.word-map {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.word-map li {
    margin: 5px;
    color: #535353;
}

.gnosis-title {
    text-align: center;
}

.gnosis-description {
    text-align: center;
}
</style>
<div class="main-content">
    <div class="row">
        <h1 class="gnosis-title">
            {{ gnosisProject.title }}
        </h1>
        <p class="gnosis-description">
            {{ gnosisProject.description }}
        </p>
    </div>    
    <div class="row">
        <h4>These are all recorded experiences with {{ gnosisProject.title }}</h4>
        <table class="users-table">
            {% for projectEntry in projectEntries %}            
                <tr>
                    <td>{{ projectEntry.createdAt|date('Y-m-d') }}: </td>
                    <td>{{ projectEntry.gnosis }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        <h4>Our Gnosis Mapping shows the following</h4>
        <ul class="word-map">
            {% for word,weight in wordMapData %}
                {% set fontSize = 10 + (weight * 10) %}
                <li style="font-size: {{ fontSize }}px;">{{ word }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <p>Wordmapping above has been generated using above-mentioned Gnosis reports and gives some information on the matter of {{ gnosisProject.title }}. Please be advised that the above is in no matter the final word of the matter, and so we would like to encourage and invite to discussion below</p>
    </div>
    <hr>
    <h2>3 Responses</h2>
    <div class="card card-content" style="margin: 12px">
        <h4>Loggedin User</h4>
        <textarea rows="2"></textarea>
        <input type="button" value="Comment" style="width: 100px;margin-top: 10px;">
    </div>
    <div class="container">
        <div class="card card-content" style="margin: 12px">
            <h4>Irminaz Cheruskaz</h4>
            <p>
                Haruþiz jah waldaz, þanuh sa gastiz stigana, faduriz inai hulþijan. Sunu beran skadwą jah runum wisan.<br>
                Wōdanaʀ frahjan þuh skadwą, þanuh is sigizan. Gebō jah gafuljan, þanuh fōr wīhaz ąnd haila. Nīþiz skulan frijōn, ainah gōdą hwehwaz
            </p>
        </div> 
        <div class="card card-content" style="margin: 12px">
            <h4>Publius Quinctilius Varus</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="card card-content" style="margin: 12px">
            <h4>Hribald Germannaz</h4>
            <p>
                Wīsōn jah frijandīz, þanuh guman fōr runum. Hailagą wīhaz, þar sa gastiz sōkijan. Wōdanaʀ laisijan wītą, sunu jah dauhtar frijōn.<br>
                Gebō jah andanōn, þanuh fōr gōdą and hailagą. Skadwą gagrīpan ni mag, þanuh rūnōs rīkan.
            </p>
        </div>
    </div>
</div>
{% endblock %}
