{% extends 'base.html.twig' %}
{% block content %}
<div class="main-content">
    <div class="row list-title-row">
        <h1 class="list-title-name">All Users</h1>
        <button class="list-title-button primarybtn btn-lg btn-primary btn" style="background-color: #497a16;">
            <a href="/new/user" style="color: white; font-size: 1.1em;"><b>+</b> User</a>
        </button>        
    </div>
    <div class="row">
        <div class="card card-content">
            <table class="users-table">
                <th>Title</th>
                <th>Role</th>
                <th><!-- Empty table header for    a e s t h e t i c    reasons --></th>
                <th><!-- Empty table header for    a e s t h e t i c    reasons --></th>
                {% for user in users %}
                <tr>
                    <td>{{ user.Username }}</td>
                    <td>{{ user.Role.Title }}</td>
                    <td><a href="/update/user/{{ user.id }}">{{ include("assets/pencil.html.twig") }}</a></td>
                    <td><a href="/delete/user/{{ user.id }}">{{ include("assets/trashcan.html.twig") }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}